body .botao {
    display: inline-block;
    padding: .5rem .9rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
    text-decoration: none !important;

    transition: background-color .2s;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__primario {
        background-color: $cor_brand_b;
        color: $cor_background_a !important;

        &:hover {
            background-color: lighten($cor_brand_b, 10);
            color: #fff !important;
        }
    }

    &__primario--outline {
        border: 1px solid $cor_brand_a;
        background-color: transparent;
        color: $cor_brand_a;

        &:hover {
            background-color: $cor_brand_a;
            color: $cor_background_a;
        }
    }

    &__secundario {
        background-color: $cor_brand_a;
        color: $cor_background_a !important;

        &:hover {
            background-color: lighten($cor_brand_a, 10);
            color: #fff;
        }
    }

    &__outline {
        border: 1px solid $cor_background_a;
        background-color: transparent;
        color: $cor_background_a;

        &:hover {
            background-color: $cor_background_a;
            color: $cor_brand_a;
        }
    }

    &__especial {
        background-color: $cor_especial;
        color: $cor_texto !important;

        &:hover {
            background-color: lighten($cor_especial, 10);
            color: #444 !important;
        }
    }
}

.botao-grupo {
    
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: .5rem;

    & .botao
    {
        margin-bottom: 0 !important;
        text-align: center;
    }

    @include mobile {
        margin-inline: auto;
    }
}