
.menu-top {
    background-color: white;
}

.menu-brand {
    height: 30px;
    margin-block: 10px;
}

.menu-container {
    margin: 0 auto;
    width: min(900px, calc(100% - 2rem));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-toggle{
    display: none;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
}

@media (width <= 768px) {
    .menu-toggle {
        display: flex;
        order: 3;
    }
}

#menu-top-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    background-color: white;
    font-family: "Barlow", sans-serif;
    color: $cor_texto;
}

@media (width <= 768px) {
    #menu-top-menu {
        order: 4;
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .active #menu-top-menu {
        display: flex;
    }
}

#menu-top-menu .menu-item > a {
    text-align: center;
    display: block;
    padding-block: 1rem;
    position: relative;
    cursor: pointer;
}

@media (width <= 768px) {
    #menu-top-menu .menu-item > a {
        padding-block: .5rem;
        border-bottom: 1px solid #f3f3ff;
    }
}

#menu-top-menu .menu-item > a:hover {
    color: $cor_brand_b;
}

.sub-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    // padding: .5rem 0;
}

@media (width <= 768px) {
    .sub-menu {
        position: relative;
        padding: 0;
        visibility: visible;
        opacity: 1;
    }
}

#menu-top-menu .sub-menu a {
    background-color: $cor_texto;
    color: #fff;
    text-align: start;
    padding: .5rem 1rem;
    white-space: nowrap;
}

#menu-top-menu .sub-menu li:not(:last-child) {
    border-bottom: thin solid #444;
}

#menu-top-menu .sub-menu a:hover {
    color: lightskyblue;
}

@media (width <= 768px) {
    #menu-top-menu .sub-menu a {
        text-align: center;
        padding-inline: 0;
        border-bottom: 1px solid #fff;
    }
}

#menu-top-menu .menu-item:has(.sub-menu) > a::after {
    content: "\f0d7";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    margin-left: .25rem;
    font-size: .75rem;
    opacity: .5;
}

@media (width <= 768px) {
    #menu-top-menu .menu-item:has(.sub-menu) > a {
        opacity: .5;
    }

    #menu-top-menu .menu-item:has(.sub-menu) > a::after {
        content: '';
        margin: 0;
    }
}

#menu-top-menu .menu-item:is(:hover, :active) .sub-menu {
    opacity: 1;
    visibility: visible;
    display: block;
    transition: all .3s ease-in;
}

.menu-social {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.35rem;
}

@media (width <= 768px) {
    .menu-social {
        margin-inline: auto 2rem;
        order: 2;
    }
}

.menu-button {
    font-family: "Barlow", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background: $cor_brand_b;
    color: #fff;
    padding: .5rem .75rem;
    border-radius: 4px;
    line-height: 0;
}

@media (width <= 768px) {
    .menu-button {
        margin-inline: auto 2rem;
        order: 2;
    }
}

.current-menu-item {
    font-weight: 600;
}