.docente-card {
    padding: 1rem;
    background: #FFF;
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        flex: 0;
        aspect-ratio: 1 / 1;
        width: min(8rem, 125px);
        object-fit: cover;
    }

    h5 {
        font-size: clamp(1.15rem, 4vw ,1.5rem);
        color: #444;
        margin-block: 0 0.25rem;
    }

    p {
        margin-block: 0 0.5rem !important;
    }

    a {
        background: #d5d5fc;
        font-size: .85rem;
        padding: .25rem 0.5rem;
        border-radius: 3px;
        color: inherit !important;
        text-decoration: none !important;

        &:hover {
            opacity: 0.6;
        }
    }
}

.docente-card:not(:last-child) {
    margin-bottom: 1rem;
}